@{
    ViewData["Title"] = "Home Page";
}

@model BookListViewModel

<br />
<h1>Hilton's Online Bookstore</h1>

    @foreach (Book b in Model.Books)
    {
        <partial name="BookSummary" model="b"/>
    }

<div page-model="@Model.PaginationBooks" page-action="Index" page-classes-enabled="true" page-class="btn" 
page-class-normal="btn-outline-dark" page-class-selected="btn-primary" class="btn-group pull-right m-1"></div>

